@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.3 !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
