@import "tailwindcss";

@layer theme {
  :root {
    --text-default-line-height: 1.3;
  }
}

@layer utilities {
  [class*="text-"] {
    line-height: var(--text-default-line-height);
  }
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.3 !important;
  letter-spacing: -0.02em;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
