@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #121212;
  --spacing-container: 1100px;
  --breakpoint-desktop: 1100px;
  --breakpoint-mobile: 767;
  --text-default-line-height: 1.3;
}

@layer utilities {
  [class*="text-"] {
    line-height: var(--text-default-line-height);
  }
}

@utility content {
  @apply mx-auto px-5 max-w-container max-mobile:px-0 pb-40 max-mobile:pb-[232px]
}

@utility box {
  @apply space-y-4 pt-10 max-mobile:space-y-3 max-mobile:px-4
}

@utility heading-1 {
  @apply text-[28px] max-mobile:text-[22px] font-bold
}

@utility heading-2 {
  @apply text-2xl max-mobile:text-xl font-bold
}

@utility title-1 {
  @apply text-[20px] max-mobile:text-lg font-medium
}

@utility title-2 {
  @apply text-lg max-mobile:text-base font-medium
}

@utility btn-small {
  @apply h-[38px] rounded-sm px-3 text-base leading-[1.4]!
}

@utility btn-medium {
  @apply h-12 rounded-md px-5 text-lg
}

@utility btn-large {
  @apply h-[58px] rounded-lg px-5 text-xl
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  line-height: 1.3 !important;
  letter-spacing: -0.02em;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
