@import "tailwindcss";

@theme {
  --spacing-container: 1100px;
  --breakpoint-desktop: 1100px;
  --breakpoint-mobile: 767;
  --text-default-line-height: 1.3;
}

@layer utilities {
  [class*="text-"] {
    line-height: var(--text-default-line-height);
  }
}

@utility content {
  @apply px-5 max-mobile:px-0
}

@utility box {
  @apply pt-10 max-mobile:px-4
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.3 !important;
  letter-spacing: -0.02em;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
